# ignore vitual environment
.venv_exer

# ignore exercism settup docs
shell

# ignore _pycache_ in all folders
*__pycache__

# ignore .vscode
.vscode

# mypy
.mypy_cache

# the exercism setup
.exercism/

# cargo (rust) build dir
target/

# cargo lock file
Cargo.lock

# extension module libs
*.so
